h1
{
    color: aquamarine;
    text-align: center;
}
#photo_chateau {
    width: 200px;
    justify-content: center;
}
#page_d_accueil a 
{ width:100vw;
height: 100vh;
}
#Page_d_acceuil > a > img {width:100vw;
height:100vh}

#lilprez
{border-width: 1px ; 
border-style: dotted;
border-color:black;
padding-left: 10px ;
padding-right: 10px;
background-color: aquamarine;

}
h3 {
    text-align: center;
    margin-top: 50px;
    border-width: 1px;
    display: inline-block;
    background-color: beige;
    list-style-position: inside;

}